# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/

# Poetry
poetry.lock
dist/

# Project specific
src/backend/models/

# Version control
.git/

frontend/package.json

src/frontend/node_modules/

frontend/node_modules/


frontend/models/